@import "~styles/variables";
@import "~styles/base";
  
  .floor-view {
    height: 100%;
    width:100%;
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    background-image: url("/assets/images/canvas-bg.png");
    background-size: 50px 55px;    
    background-position: -1px -2px;
  }