@import "~styles/variables";
@import "~styles/base";
.add-booking {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: $dark-gray-3;
  &__title {
    position: relative;
  }
  &__title-text {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 31px;
    @include font-style($color: $light-gray-2, $size: 18px, $lh: 72px, $ls: 0.2px);
  }
  &__close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 26px;
    padding: 0;
    border: none;
    background: none;
    color: $gray-8;
    font-size: 20px;
    line-height: 20px;
  }
  &__container {
    width: 670px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 0;
    box-sizing: border-box;
  }
  &__wrappper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

@media #{$mobile} {
  .add-booking {
    &__title {
      display: flex;
      justify-content: space-between;
      height: 50px;
      padding: 0 10px;
      align-items: center;
      background-color: $dark-gray;
    }
    &__title-text {
      position: unset;
    }
    &__close-btn {
      position: unset;
      margin: 0;
    }
    &__container {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 20px 5px;
      box-sizing: border-box;
    }
  }
}

@media #{$tablet} {
  .add-booking {
    &__title {
      display: flex;
      justify-content: space-between;
      height: 50px;
      padding: 0 10px;
      align-items: center;
      background-color: $dark-gray;
    }
    &__title-text {
      position: unset;
    }
    &__close-btn {
      position: unset;
      margin: 0;
    }
    &__container {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 20px 5px;
      box-sizing: border-box;
    }
  }
}
