@font-face {
  font-family: 'fcc-icons';
  src: url('/assets/fonts/fcc-icons.eot?l579xb');
  src: url('/assets/fonts/fcc-icons.eot?l579xb#iefix') format('embedded-opentype'), url('/assets/fonts/fcc-icons.ttf?l579xb') format('truetype'), url('/assets/fonts/fcc-icons.woff?l579xb') format('woff'), url('/assets/fonts/fcc-icons.svg?l579xb#fcc-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url("/assets/fonts/Heebo/Heebo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Heebo;
  src: url("/assets/fonts/Heebo/Heebo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Heebo;
  src: url("/assets/fonts/Heebo/Heebo-Thin.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Heebo;
  src: url("/assets/fonts/Heebo/Heebo-ExtraBold.ttf");
  font-weight: 900;
}
