$dark-gray: #1A1D22;
$dark-gray-2: #2D343A;
$dark-gray-3: #23272b;
$dark-gray-4: #313A42;
$dark-gray-5: #33393F;
$dark-gray-6: #121416;
$dark-gray-7: #2F353A;
$dark-gray-8: #15181C;
$dark-gray-9: #384047;
$dark-gray-10: #23272B;
$dark-gray-11: #444A56;
$dark-gray-12: #25292D;
$dark-gray-13: rgba(255, 255, 255, 0.05);
$dark-gray-14: #24292F;
$gray: #292F35;
$gray-2: #3A4149;
$gray-3: #6D7686;
$gray-4: #5F6D7C;
$gray-5: #475868;
$gray-6: #737A86;
$gray-7: #596068;
$gray-8: #54606E;
$gray-9: #4F5861;
$gray-10: #7B818E;
$gray-11: #393F45;
$gray-12: #454B56;
$light-gray: #BEC4CD;
$light-gray-2: #D8DEE8;
$light-gray-3: #7C8390;
$light-gray-4: #BBC0CA;
$dark-yellow: #A49E34;
$mint: #1C7C8D;
$red: #B03333;
$green: #39915D;
$green-2:#48943F;
$blue: #3C769D;
$orange: #A35832;
$violet: #5D45A3;
$golden: #A88738;
$white: #ffffff;
$mobile: "only screen and (max-width: 680px)";
$tablet: "only (min-width: 681px) and (max-width: 971px)";
