@import "~styles/variables";
@import "~styles/base";
.content {
  height: calc(100vh - 74px);
  display: flex;
}

@media #{$mobile} {
  .content {
    height: 100vh;
    overflow: auto;
    padding-bottom: 40px;
    position: relative;
  }
}

@media #{$tablet} {
  .content {
    height: calc(100vh - 56px);
  }
}