@import "~styles/variables";
@import "~styles/base";
.staffs-list {
  height: 100%;
  width: 340px;
  background-color: $gray;
  border-right: 2px solid $dark-gray-6;
  &__search {
    width: 100%;
    position: relative;
    &::before {
      position: absolute;
      top: 26px;
      left: 26px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      color: $gray-8;
    }
  }
  &__search-input {
    @include font-style($color: $light-gray, $size: 16px);
    padding: 25px 25px 23px 64px;
    background-color: $dark-gray-14;
    border: none;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    &::placeholder {
      @include font-style($color: $gray-3, $size: 16px);
      opacity: 0.4;
    }
  }
  &__title {
    padding: 19px 30px;
    background-color: $dark-gray-2;
    text-transform: uppercase;
    @include font-style($color: $light-gray-4, $size: 13px);
  }
  &__staffs {
    overflow-y: auto;
    height: calc(100% - 150px);
    padding-bottom: 20px;
  }
  &__staff {
    cursor: pointer;
    padding: 19px 30px 20px 87px;
    border-bottom: 1px solid $dark-gray-5;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $dark-gray-2;
    }
    &_active {
      background-color: $dark-gray-2;
    }
    &.active {
      background-color: $dark-gray-2;
    }
  }
  &__staff-thumbnail {
    position: absolute;
    top: 23px;
    left: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: auto;
    img {
      width: 100%;
    }
  }
  &__staff-name {
    @include font-style($color: $light-gray, $size: 18px);
  }
  &__staff-phone {
    @include font-style($color: $light-gray-3, $size: 15px);
  }
}

@media #{$mobile} {
  .staffs-list {
    position: fixed;
    width: 100%;
    height: calc(100% - 56px);
    &__staffs {
      height: calc(100% - 101px);
    }
    &__search-input {
      padding: 10px 25px 10px 40px;
    }
    &__search {
      &:before {
        top: 13px;
        left: 14px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}
